@import "tailwindcss";

@font-face {
  font-family: "Aalto";
  src: url("https://db.onlinewebfonts.com/t/f6ec291f284d1c8ba5a1706ba94e4a9d.eot");
  src:
    url("https://db.onlinewebfonts.com/t/f6ec291f284d1c8ba5a1706ba94e4a9d.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/f6ec291f284d1c8ba5a1706ba94e4a9d.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/f6ec291f284d1c8ba5a1706ba94e4a9d.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/f6ec291f284d1c8ba5a1706ba94e4a9d.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/f6ec291f284d1c8ba5a1706ba94e4a9d.svg#Aalto Display-Personal-use")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #fafaf9;
  --foreground: #0c0a09;
  --font-aalto: "Aalto", "Helvetica Neue", Arial, sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-aalto);
  --font-mono: var(--font-aalto);
  --color-stone-950: #0c0a09;
  --color-stone-900: #1c1917;
  --color-stone-800: #292524;
  --color-stone-700: #44403c;
  --color-stone-600: #57534e;
  --color-stone-500: #78716c;
  --color-stone-400: #a8a29e;
  --color-stone-300: #d6d3d1;
  --color-stone-200: #e7e5e4;
  --color-stone-100: #f5f5f4;
  --color-stone-50: #fafaf9;
  --color-amber-500: #f59e0b;
  --color-amber-600: #d97706;
}
